body { background-color: #ffb57a }
th { background-color: #dcdcdc }
tr { vertical-align: top }
td { background-color: #ffda9c }
a:link { color: black }
a:visited { color: black }
.verticaltext {
writing-mode: vertical-rl;
filter: flipv fliph;
}
.complete { color: green }
.authoractionrequired { color: red }
.publisheractionrequired { color: blue }
p { padding-right: 150px }
li { padding-right: 150px }

/* Mobile-responsive table fixes */
table {
    width: 100%;
    table-layout: fixed;
}

td, th {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

/* Specific column widths for better mobile display */
th:first-child {
    width: 50px;
}

td:nth-child(2), th:nth-child(2) {
    width: 15%;
}

td:nth-child(3), th:nth-child(3) {
    width: 15%;
}

td:nth-child(4), th:nth-child(4) {
    width: 15%;
}

td:nth-child(5), th:nth-child(5) {
    width: auto;
}

/* Better link wrapping */
a {
    word-break: break-word;
    display: inline-block;
    max-width: 100%;
}

/* Mobile-specific adjustments */
@media screen and (max-width: 768px) {
    p { padding-right: 10px }
    li { padding-right: 10px }
    
    table {
        font-size: 14px;
    }
    
    th:first-child {
        width: 40px;
        font-size: 12px;
    }
}
